* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell img{
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background: rgb(212, 212, 212);
}

.white {
    background: rgb(124, 124, 124);
}

.selected{
    background: rgba(19, 36, 52, 0.867);
}

.available{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(9, 141, 77);
}